<!DOCTYPE html>
<html>
    <head>
        <title> 개쉬운 게시판</title>
    </head>
    <body>
        <h1>게시판 목록입니당</h1>
        <table class="table">
            <thead>
            <tr>
                <th><h3>번호</h3></th>
                <th><h3>제목</h3></th>
                <th><h3>날짜</h3></th>
            </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th>{{post.id}}</th>
                    <th>
                        <a href="/board_view?id={{post.id}}">{{post.title}} </a></th>
                    <th>{{ post.date | date:"Y-m-d" }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       <a href="board_write" class="btn btn-outline-success">글쓰기</a>
    </body>
</html>