<html>
    <head>
        <title> 대충 무슨 글인지 보는 중 </title>
    </head>
    <body>
        <div>
            <h4>게시판보는중~</h4>
        </div>
        <div>
            {% for posts in posts %}
            <table>
                <tr>
                    <td>제목</td>
                    <td>{{posts.title}}</td>
                    <td>작성일</td>
                    <td >{{posts.date| date:"Y-m-d"}}</td>
                </tr>

                <tr>
                    <td>내용</td>
                    <td>{{posts.note}}</td>
                </tr>
                <tr>
                    <td><a href="/board_update?id={{ posts.id }}">수정하기</a></td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </body>
</html>